.portfolio-page{
  position: relative;
  width: 100%;
  height: 100%;
  background: rgba(7,7,7, 0.95);
  display: flex;
  flex-direction: column;

  &__nav{
    min-height: 68px;

  }

  &__block{

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    transform: translateZ(0);

    &_image{
      width: 25%;
      position: relative;
      cursor: pointer !important;
      &>img{
        width: 100%;
        position: relative;
        z-index: 5;
        transform: translateZ(0);
        transition: 0.5s;
        opacity: 0;
        cursor: pointer !important;
      }
      &>img:hover{
        opacity: 0.2 !important;
      }
      .text-wrapper {
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        padding: 5px;
        opacity: 0;
        transition: 1s;
        & > p {
          transition: 1s;
          text-align: center;
          color: #fff;
          font-weight: bold;
        }
      }

    }
  }

  &__video{
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & > div{
      margin-top: 15px;
      color: white;
    }

    &_close{
      width: 30px;
      height: 30px;
      position: absolute;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      top: 20px;
      right: 20px;
      background-image: url("../../assets/icons/delete.png");
    }

  }

}

@media (max-width: 900px) {
  .portfolio-page__block_image{
    width: calc(100% / 3);
  }
}


