<div class="preloader">
  <div class="preloader__holder">
    <span class="preloader__dot _01"></span>
    <span class="preloader__dot _02"></span>
    <span class="preloader__dot _03"></span>
    <span class="preloader__dot _04"></span>
    <span class="preloader__dot _05"></span>
    <span class="preloader__dot _06"></span>
    <span class="preloader__dot _07"></span>
    <span class="preloader__dot _08"></span>
    <span class="preloader__dot _09"></span>
    <span class="preloader__dot _10"></span>
    <span class="preloader__dot _11"></span>
    <span class="preloader__dot _12"></span>
  </div>
</div>
